@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

/* -----------------------------------Fonts-*/

* {
    font-size: 10px;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Exo 2', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
}
