@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

/* html,
body {
  height: 100%;
  margin: 0;
} */

body {
  background: url("../images/w&b3rd.jpg") no-repeat center top fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}

/* #wrapper {
  min-height: 54.5%;
} */

.hide {
  visibility: hidden;
}
/* .footer,
.push {
  height: 50px;
} */
/* -----------------------------------Fonts--*/

* {
  font-size: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Exo 2", sans-serif;
  margin: 2rem 2rem;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  margin: 0;
}

/*-------------------------------------Colours--*/

h2 span {
  padding: 1rem;
  text-decoration: underline;
  /* background-color:rgba(250,250,250,0.6); */
  font-size: 2rem;
}
.answers-container {
  display: flex;
  box-sizing: border-box;
  border-radius: 1.5rem;
  margin-bottom: 1rem;
  width: 100%;
  border: 0.2rem solid #011526;
  background-color: #fed403;
}

.answers-container:hover {
  box-shadow: 0 0.5em 0.5em -0.4em;
  transform: translateY(-0.25em);
}

.answer-choice {
  padding: 1rem 0rem 1rem 2rem;
  width: 100%;
  font-size: 2rem;
  font-weight: 500;
}


.title span {
  /* background: #fafafa; */
  font-size: 3rem;
  padding: 1rem;
}

.answer-prefix {
  border-radius: 1.2rem;
  font-size: 2rem;
  padding: 1rem 2rem;
  background-color: #f2f2f2;
  border-right: 0.2rem solid #011526;
}
#game {
  padding: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

#question {
  background: #fafafa;
}
i,
a {
  color: #011526;
  font-size: 3rem;
}

/*-----------------------------------Navbar&footer------------ */

#logo {
  width: 50px;
  height: 50px;
}
.qz-navbar {
  background-color: #f26b1d;
  /* box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2); */
  margin-bottom: 5rem;
}
 button i:hover {
   transition: 1s;
   color: #f2f2f2;
 }
#gameDashboard {
  margin-top: 6rem;
}
.qz-hud {
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 1.5rem;
  background: #f26b1d;
  background-clip: content-box;
} 
.qz-hud h2 {
  background-color:rgba(250,250,250,0.6);
  margin-top: 1rem;
  padding-left: 0;
  font-size: 2rem;
}

/*------ add and remove classes */

.hideBtn {
  visibility: hidden;
}

.correct {
  background-color: #47bd11;
}

.incorrect {
  background-color: #8b0017;
}

/*----------Game live score & progressbar -----*/
.display {
  display:none;
}

#start,
#start:active {
  /* border-radius: 0; */
  border:2px solid #011526;
  font-size: 2rem;
  width: 15rem;
  height: 4rem;
  background-color: #f26b1d;
  color: #000;
}
#start:hover,
#start:focus {
  
  animation: pulse 2s;
  border-color: #f26b1d; 
  box-shadow: 0 0 3rem rgba(242, 107, 29, 0.4);
}
.progress-wraper {
  max-width: 80%;
  margin-left: 10%;
  margin-bottom: 2rem;
  height: 3rem;
  border: 1px solid #000;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
.qz-progress-bar {
  color: #000;
  font-size: 1.5rem;
  font-weight: 500;
  width: 0%;
  background-color: #f26b1d;
}

#score {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.2rem;
  background-color:#fed403;
  padding: 0.5rem;
  border:2px solid #011526;
  
}
#current_score {
  margin: 0;
  padding: 1.5rem;
}
#userName {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 2.4rem;
}

#highScore {
  font-size: 2.4rem;

}
.qz-score--box p {
  font-size: 2rem;
}

@media screen and (max-width: 450px) {
  .answer-choice {
    padding-right: 1.5rem;
  };
  #game {
    padding: 0;
    width: 100%;
  };
  #question {
    margin: 1rem 0 1rem 0;
    font-size: x-large;
  };
   #qz-footer {
    padding: 0.5rem;
  };

}

/*-------------------Modals-------------------*/

.qz-Modal--bg {
  
  background: #f26b1d;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#playerModal label {
  font-family: "Open Sans",sans-serif;
  font-weight: 600;
  font-size: 2.5rem;
}
#user {
  font-family: "Exo 2", sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #f26b1d;
  background-color: #011526;
}

.qz-Modal--content {
  font-size: 2.5rem;
  font-weight: 400;
} 

.qz-Modal--content p {
  font-size: 2rem;
  font-weight: 500 ;
}
#underline {
  font-size: 2rem;
  text-decoration: underline;
}

#submitName {
  font-size: 2rem;
  border: 1px solid #fff;
  background-color: #011526;
}

#submitName:hover {
  transition: 0.5s;
  color: #f26b1d;
  border: 1px solid #f26b1d;
}

button.close span {
  color:#011526;
  font-weight: 800;
  text-shadow: none;
  font-family: "Open Sans",sans-serif;
  font-size: 2.5rem;
}


button.close {
  opacity: 1;
  padding-top: 0.5rem;
}

button.close span:hover {
  transition: 0.5s;
  color: #fff;
}
button.close:focus {
  outline: none;
}

/*-------------Select menu style--------------*/
select {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0px;
  width: 180px;
  padding: 5px 0px 5px 10px;
  border: 2px solid #011526;
  border-radius: 5%;
  height: 35px;
  background:#fed403;
}
/*-------------------footer-----------*/
#qz-footer {
  /* box-shadow: 0 -3px 10px 3px rgba(0, 0, 0, 0.2); 
  background-color:#0D0D0D; */
  
  /* margin-top: 60px */
  /* padding: 2rem;
  margin-top: 3rem; */
}

.copy p {
  font-size: 2rem;
  font-weight: 500;
  color: #f2f2f2;
}
.mail i ,
.mail span {
  color: #f2f2f2;
  font-size: 2rem;
  text-decoration: none;
}
.mail span:hover,
.mail a:hover {
  transition: 1s;
  text-decoration: none;
  color: #f26b1d;
}

.GitHub i {
  color: #f2f2f2;
}

.GitHub i:hover {
  transition: 1s;
  font-size: 4rem;
  color: #f26b1d;
}